.navbar{
    background-color: #188A57 !important;
    height: 50px;
}

.navbar-brand h3{
    color: #fff !important;
}

.card-header{
    background-color: #188A57 !important;
}

hr{
    border-top: 1px solid rgb(255 255 255) !important;
}

.job_title{
    font-size: 28px;
    font-weight: 600;
}

.job_subtitle{
    font-size: 20px;
}

.job_price{
    padding-top: 5px;
    font-weight: 700;
    font-size: 13px;
}

.job_timeline{
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 13px;
}